:root {
    --default_font: 'Lato', sans-serif;
    --default_blue: #2F5ABB;
}

body{
    font-family: var(--default_font);
}

.section__head{
    font-size: 40px;
}

.section__head--small{
    font-size: 30px;
}

.section__text{
    font-size: 20px;
}

.section__text--small {
    font-size: 14px;
}

.full_height{
    min-height: 100vh;
}

.text_color{
    color: var(--default_blue);
}

.v_align{
    text-align: center;
}

.default_btn{
    background: var(--default_blue);
    color: #fff;
    border: none;
    padding: 0.6em 2em;
}

.align{
    display: flex;
    align-items: center;
}

.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_is_grey{
    color: gray !important;
}

.text_is_bold{
    font-weight: bold !important;
}

.text_is_white{
    color: #fff !important;
}

.hero_text_holder,
.signup_form_holder,
.hero_img_holder{
    min-height: 90vh;
}

.form_element input{
    	border: none;
    	border-bottom: 1px solid #d3d3d3;
    	width: 90%;
    	padding: 0.6em;
    	transition: all 0.45s ease-in-out;
    	background: transparent;
    	font-size: 17px;
    	outline: none;
}

.form_element input:focus{
    	border-bottom: 1px solid var(--default_blue);
}


.signup_form_holder .btn_holder{
    margin: 0 auto;
    width: fit-content;
    min-width: -moz-fit-content;
    overflow: visible;
}

.forgot_form_inner{
    width: 60%;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 1px #7b7676b5;
    min-height: 50vh;
    padding: 1em 2em;
}


/***nav***/
.nav{
    background-color: var(--default_blue);
    min-height: 8vh;
    padding: 1em 0;
}

.logo{
    float: left;
}



@media screen and (max-width: 776px){
   .hero_text_holder,
   .signup_form_holder {
       min-height: 60vh;
   }

   .hero_img_holder {
       min-height: 30vh;
   }
}